{%extends 'base.html'%}
{%block nav%}<a href="/mark">Volver</a> <a href="/logout">Cerrar sesión</a>{%endblock%}
{%block header%}<h2>{%block title%}Editar nota{%endblock%}</h2>{%endblock%}

{%block content%}

<table>
    <tr><th>Alumno</th><th>Asignatura</th><th>Calificacion</th></tr>
    <tr>
        <td>{{mark.alumno}}</td>
        <td>{{mark.asignatura}}</td>
        <form action="" method="POST">
            <td><input type="number" max="10" min="0" name="puntuacion" id="puntuacion" required style="width: 90%;" placeholder={{mark.puntuacion}}></td>
            <td><input type="submit" value="Aplicar cambio" style="background-color: rgb(34, 192, 34); "></td>
        </tr>
    
        
    </form>
</table>
{%endblock%}